@font-face {
    font-family: 'OpenSans';
    src: url(/src/assets/fonts/OpenSans/OpenSans.woff2) format('woff2'),
        url(/src/assets/fonts/OpenSans/OpenSans.woff) format('woff');
};

@font-face {
    font-family: 'Azonix';
    src: url(/src/assets/fonts/Azonix/Azonix.woff) format('woff'),
        url(/src/assets/fonts/Azonix/Azonix.woff2) format('woff2');
}


@font-face {
    font-family: 'nano';
    src: url(/src/assets/fonts/Nano/nano.woff) format('woff'),
         url(/src/assets/fonts/Nano/nano.woff2) format('woff2');
  }
  
