@import './fonts';

// colors
$primary-color: #8c00ff;
$secondary-color: #8bfa37;
$secondary-color-dark: #68e807;

$white: #fff;
$grey: #dbdbdb;
$black: #0e0e0e;

$border-color: #fff;

// Font Size
$Small-font-size: 0.875rem;
$base-font-size: 1rem;
$headlines-font-size: 3.5rem;
$sub-headlines-font-size: 1.75rem;
$headlines-XL-font-size: 4.375rem;

// Spacing
$gap-normal: .3125rem;
$title-letter-spacing: .0813rem;

// default fonts
$font-paragraph: 'OpenSans', sans-serif;
$font-headings: 'Azonix', sans-serif;
$font-special: 'nano', sans-serif;




