@import './fonts';
@import './var';

.pokemonType--bug {
    background-color: $bug;
}

.pokemonType--dark {
    background-color: $dark;
}

.pokemonType--dragon {
    background-color: $dragon;
}

.pokemonType--electric {
    background-color: $electric;
  
}

.pokemonType--fairy {
    background-color: $fairy;
}

.pokemonType--fighting {
    background-color: $fighting;
}

.pokemonType--fire {
    background-color: $fire;
}

.pokemonType--flying {
    background-color: $flying;
}

.pokemonType--ghost {
    background-color: $ghost;
}

.pokemonType--grass {
    background-color: $grass;
}

.pokemonType--ground {
    background-color: $ground;
}

.pokemonType--ice {
    background-color: $ice;
}

.pokemonType--normal {
    background-color: $normal;
}

.pokemonType--poison {
    background-color: $poison;
}

.pokemonType--psychic {
    background-color: $psychic;
}

.pokemonType--rock {
    background-color: $rock;
  
}

.pokemonType--steel {
    background-color: $steel;
}

.pokemonType--water {
    background-color: $water;
}


